$mobile: 428px;
$tablet: 768px;
$desktop: 1158px;
$main-bg-clr: #ffffff;
$second-bg-clr: #2e2f42;
$third-bg-clr: #f4f4fd;
$main-txt-clr: #2e2f42;
$second-txt-clr: #434455;
$main-icon-clr: #f4f4fd;
$accent: #4d5ae5;
$light-accent: #e7e9fc;
$studio-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
$active-state-clr: #404bbf;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$third-text-clr: #ffffff;
$l-gra: rgba(46, 47, 66, 0.7);
$customers-link-clr: #8e8f99;
$footer-txt-clr: #f4f4fd;
$modal-txt-clr: #8e8f99;
