.features-section {
  @extend %section;
}

.features-icon-wrap {
  display: none;

  @media screen and (min-width: $desktop) {
    @include centeredFlex();
    margin-bottom: 8px;
    height: 112px;
    background-color: $third-bg-clr;
    border-radius: 4px;
  }
}

.features-icon {
  width: 64px;
  height: 64px;
}

.features-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: $desktop) {
    gap: 24px;
  }
}

.features-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 72px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.features-subtitle {
  @extend %title;
  margin-bottom: 8px;
  @media screen and (min-width: $tablet) {
    text-align: initial;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-text {
  @extend %text;
  @media screen and (max-width: 1157px) {
    font-weight: 500;
  }
}
