.menu-soc-list,
.team-soc-list,
.footer-soc-list {
  display: flex;
  justify-content: space-between;
}

.menu-soc-item,
.team-soc-item,
.footer-soc-item {
  width: 40px;
  height: 40px;
}

.menu-soc-link,
.team-soc-link,
.footer-soc-link {
  @extend %link;
  @include centeredFlex();
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $accent;
}

.team-soc-link,
.footer-soc-link {
  @media screen and (min-width: $desktop) {
    transition: background-color $transition;
    &:is(:hover, :focus) {
      background-color: $active-state-clr;
    }
  }
}

.menu-soc-icon,
.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: $main-icon-clr;
}

.team-soc-icon {
  width: 16px;
  height: 16px;
  fill: $main-icon-clr;
}
